In [51]:
#imports and call stored df
import pandas as pd


%store -r cb_df_final
%store -r foursquare_df_final
%store -r yelp_df_final

Join the data from Part 1 with the data from Part 2 to create a new dataframe.

In [57]:
#combine individually with cb then together
cb_foursquare = cb_df_final.merge(foursquare_df_final, how='outer', left_on=['latitude', 'longitude'], right_on=['latitude', 'longitude'])
#cb_yelp = cb_df_final.merge(yelp_df_final, how='outer', left_on=['latitude', 'longitude'], right_on=['latitude', 'longitude'])
test = yelp_df_final['latitude']
cb_df_final.isin(test)
#combined_df_final = cb_foursquare.merge(yelp_df_final, how='outer', left_on=['latitude', 'longitude', 'name', 'distance'], right_on=['latitude', 'longitude', 'name', 'distance'])
#combined_df_final = pd.concat([cb_foursquare, yelp_df_final], ignore_index=True)

     latitude  longitude  free_bikes
0       False      False       False
1       False      False       False
2       False      False       False
3       False      False       False
4       False      False       False
..        ...        ...         ...
239     False      False       False
240     False      False       False
241     False      False       False
242     False      False       False
243     False      False       False

[244 rows x 3 columns]

Provide a visualization that you used as part of your EDA process. Explain the initial pattern or relationship you discoved through this visualization.

# Database

Put all your results in an SQLite3 database (remember, SQLite stores its databases as files in your local machine - make sure to create your database in your project's data/ directory!)

Look at the data before and after the join to validate your data.